.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /* This is for the mobile */
    flex-flow: column;
    align-items: center;
    height: 100%;
}

/* This is for desktop */
@media(min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}